#singleplayer{
-fx-background-image: url('singleplayer.png');
 -fx-background-repeat: no-repeat;
  -fx-background-position: center
}

#multiplayer{
-fx-background-image: url('multiplayer.png');
 -fx-background-repeat: no-repeat;
  -fx-background-position: center
}

#options{
-fx-background-image: url('options.png');
 -fx-background-repeat: no-repeat;
  -fx-background-position: center
}

#anchorPane{
-fx-background-image: url('imageChess.jpg');
 -fx-background-repeat: no-repeat;
  -fx-background-position: center

}

